@charset "UTF-8";

body {
    margin:0;
    padding:0;
    color:#000;
    background: #c4beba;
    font-family: Arial, Helvetica, sans-serif;
}
.geral {
    
    width:100%;    
}
div.cabecalho {
    background:#dec9c1    ;
    height: 50px;    
}
.menu{
    float:left;
    padding: 10px;
    font-style: italic;
}
a:link {
    color: inherit;
    text-decoration: none;
}
 /* link que foi visitado */
a:visited {
    color: inherit;
    text-decoration: none;
}
.redes-sociais{
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
.principal{
    margin-top: 10px;
}
#conteudo-1 {
    width: 60%;
    margin: auto;
    float: left;
    padding: 50px;
}
div#divulgacao {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
p#divulgacao{
    text-align: center;
    font-style: italic;
}
#conteudo-2 {
    width: 40%;
    margin: auto;
    float: right;
    padding: 50px;   
}

div#localizacao{
    margin-top: 40px;
    width: 100%;
}

div#localizacao-text{
    float: left;
    text-align: right;
    width: 50%;
    height: 245px;
    padding: 20px;
}
p#localizacao-text{
    
    font-weight: 600;
}

div#mapa{
    float: right;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.rodape {
    width: 100%;
    height: 50px;
    float: left;
    background:#dec9c1;
}
/* Formatação de tabela do bootstrap */
table.table-striped{
    vertical-align: middle;
    margin: auto;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.agendamento{
    width: 50%;
    margin: auto;
}
